/**
 * Heading Control CSS.
 */
.customize-control-spacious-heading {
	margin-top: 10px;
}

.spacious-customizer-heading {
	display: block;
	margin: 0 -12px;
	padding: 13px 12px;
	background-color: #fff;
	color: #555;
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.5;
	text-transform: uppercase;
}

.customize-control-spacious-heading .description {
	margin-top: 10px;
}

/**
 * Divider control CSS.
 */
.customize-control-spacious-divider hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.customize-control-spacious-divider .divider-placement-above + .spacious-control-tooltip {
	top: 30px;
}

